<%- include("partials/head.ejs") %>
	<!--top-header-->
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<div class="col-md-6 top-header-left">
<!--					<div class="drop">-->
<!--						<div class="box">-->
<!--							<select tabindex="4" class="dropdown drop">-->
<!--								<option value="" class="label">Dollar :</option>-->
<!--								<option value="1">Dollar</option>-->
<!--								<option value="2">Euro</option>-->
<!--							</select>-->
<!--						</div>-->
<!--						<div class="box1">-->
<!--							<select tabindex="4" class="dropdown">-->
<!--								<option value="" class="label">English :</option>-->
<!--								<option value="1">English</option>-->
<!--								<option value="2">French</option>-->
<!--								<option value="3">German</option>-->
<!--							</select>-->
<!--						</div>-->
<!--						<div class="clearfix"></div>-->
<!--					</div>-->
				</div>
				<div class="col-md-6 top-header-left">
					<div class="cart box_1">
						<a href="/checkout">
							<div class="total">
								<span class="simpleCart_total"></span></div>
								<img src="../public/images/cart-1.png" alt="" />
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--top-header-->
	<!--start-logo-->
	<div class="logo">
		<a href="index.ejs"><h1>Luxury Watches</h1></a>
	</div>
	<!--start-logo-->
	<!--bottom-header-->
<!--	<div class="header-bottom">-->
<!--		<div class="container">-->
<!--			<div class="header">-->
<!--				<div class="col-md-9 header-left">-->
<!--				<div class="top-nav">-->
<!--					<ul class="memenu skyblue">-->
<!--						<% if (category) { %>-->
<!--							<% for (let i = 0; i < category.length; i++) { %>-->

<!--								<li class="grid">-->
<!--									<a href="/category/<%= category[i].category_url %>"><%= category[i].category_name %></a>-->
<!--								</li>-->
<!--							<% } %>-->
<!--						<% } %>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--			<div class="col-md-3 header-right"> -->
<!--				<div class="search-bar">-->
<!--					<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">-->
<!--					<input type="submit" value="">-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!--bottom-header-->
	<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-12 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">
						<img src="<%=product[0].product_image %>" class="img-responsive" alt="">
					</div>
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
						<h2><%=product[0].product_name %></h2>
							<div class="star-on">
								<ul class="star-footer">
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
									</ul>
								<div class="review">
									<a href="#"> 1 customer review </a>

								</div>
							<div class="clearfix"> </div>
							</div>

							<h5 class="item_price">$ <%=product[0].product_price %></h5>

							<p><%=product[0].product_desc %></p>
							<a href="#" class="add-cart item_add add-product" data-title="<%=product[0].product_name %>" data-price="<%=product[0].product_price %>" data-count="1" data-id="<%=product[0].id %>">ADD TO CART</a>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="tabs">
					<ul class="menu_drop">
				<li class="item1"><a href="#"><img src="../public/images/arrow.png" alt="">Description</a>
					<ul>
						<li class="subitem1"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</a></li>
						<li class="subitem2"><a href="#"> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore</a></li>
						<li class="subitem3"><a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes </a></li>
					</ul>
				</li>
	 		</ul>
				</div>
				<div class="latestproducts">
					<div class="product-one">
						<div class="col-md-4 product-left p-left"> 
							<div class="product-main simpleCart_shelfItem">
								<a href="/" class="mask"><img class="img-responsive zoom-img" src="../public/images/p-1.png" alt="" /></a>
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<p>Explore Now</p>
									<h4><a class="item_add" href="index.ejs"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<div class="srch">
									<span>-50%</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 product-left p-left"> 
							<div class="product-main simpleCart_shelfItem">
								<a href="" class="mask"><img class="img-responsive zoom-img" src="../public/images/p-2.png" alt="" /></a>
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<p>Explore Now</p>
									<h4><a class="item_add" href="index.ejs"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<div class="srch">
									<span>-50%</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 product-left p-left"> 
							<div class="product-main simpleCart_shelfItem">
								<a href="" class="mask"><img class="img-responsive zoom-img" src="../public/images/p-3.png" alt="" /></a>
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<p>Explore Now</p>
									<h4><a class="item_add" href="index.ejs"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<div class="srch">
									<span>-50%</span>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-single-->
<%- include("partials/footer.ejs") %>